body {
    background-color: #1f1f1f;
    color: #bfbfbf;
    height: 2000px;
}

.box {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.blue-box{
    background-color: lightblue;
    position: relative;
    bottom: 0px;
}

.green-box {
    background-color: lightgreen;
}

.container {
    background-color:white;
    width: 200px;
    height: 200px;
    position: relative;
}