@import 'https://fonts.googleapis.com/css?family=Raleway';

body {  
    /* font-size: 80%; */
    font-family: monospace;
    font-size: 3rem;
}

* { /*000*/
    color: deeppink;
}

p { /*001*/
    color: white;
}

div p { /*002*/
    color: darkblue;
}

.red { /*010*/
    color: red;
}

#lemoncode { /*100*/
    color: greenyellow;
}

.container {
    width: 90%;
    margin: 0 auto;
    background-color: lightslategray;
}